.transactionTypeForm {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  height: 2.5rem;
  width: 5.5rem
}
.form {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}
.submitButton {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0rem;
}
